div(class='panel{{data.type}}')
  div(class='panel-heading')
    h4(class='panel-title')
      a(href='javascript:', ng-click='$parent.$parent.sel=data.id')
        {{data.title}}
        !!! button(type='button', class='close', data-dismiss='panel') &times;
  div(ng-show='$parent.sel==data.id')
    div(class='panel-body')
      {{data.content}}
