form
  div(class='form-group')
    input(type='text', class='form-control', ng-model='msg.title', placeholder='Title')
  div(class='form-group')
    textarea(class='form-control', ng-model='msg.content', placeholder='Content')
  div(class='form-group')
    input(type='button', class='btn btn-default', value='Send', ng-click='send()')
