!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Dashboard
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/app.css')
  body(ng-controller='AppCtrl', class='container')
    block body
